<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1 class="text-center">
        Domain WhoisInfo Checker
    </h1>
    <form action="/domainwhoisinfo" method="post">
      <div class="form-group">
          <label for="domain">Domain URL:</label>
          <input class="form-control" type="text" name="domain" id="" placeholder="Domain name" required>
      </div>
      <div class="form-group">
          <button class="btn btn-block btn-danger">
              Get WhoisInfo Data
          </button>
      </div>
      <%if (data) { %>
          <table class="table table-striped">
              <thead>
                <tr>
                  <th>Domain Name</th>
                  <th>RegistrarWhoisServer</th>
                  <th>RegistrarUrl</th>
                  <th>Registrar</th>
                  <th>Creation Date</th>
                  <th>Domain Age</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td><%=data.domainName%></td>
                  <td><%=data.registrarWhoisServer%></td>
                  <td><%=data.registrarUrl%></td>
                  <td><%=data.registrar%></td>
                  <td><%=date%></td>
                  <td><%=domainAge%></td>
                </tr>
              </tbody>
            </table>
      <% } %>
      <br><br>    
  </form>
  <br><br>
</body>
</html>